{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        {% bootstrap_css %}
        <link href="{% static 'css/app.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% include 'navigation.html' %}

        {% block content %}
        {% endblock %}

        {% include 'footer.html'%}
        {% bootstrap_javascript %}
    </body>
</html>