<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        <style>
            .nav-link.active {
                color: #000;
            }
        </style>
    </head>
    <body>
        {% include 'navigation.html' %}

        {% block content %}
        {% endblock %}

        {% include 'footer.html'%}
        {% bootstrap_javascript %}
    </body>
</html>