<footer class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>
            We are a family-owned ice cream shop dedicated to bringing you the
            most delicious and creamy treats.
          </p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">About</a></li>
            <li><a href="#" class="text-white">Products</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>
              <i class="bi bi-geo-alt-fill me-2"></i>123 Main Street, Anytown
              USA
            </li>
            <li><i class="bi bi-telephone-fill me-2"></i>(123) 456-7890</li>
            <li>
              <i class="bi bi-envelope-fill me-2"></i>info@icecreamshop.com
            </li>
          </ul>
        </div>
      </div>
      <hr class="my-4" />
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Ice Cream Shop. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="#" class="text-white me-3"
            ><i class="bi bi-facebook"></i
          ></a>
          <a href="#" class="text-white me-3"
            ><i class="bi bi-twitter"></i
          ></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>